.maincontainer{
background-color: rgb(246, 240, 232);
width: 600px;
height: 300px;
/* display: flex; */
/* flex-wrap: wrap; */
}
.profileimg{
position: absolute;
top: 40px;
margin-left: 20px;

}

.name{
margin-top: 40px;
margin-left: 15px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
font-weight: bold;
}

.topcontainer{
background-color: rgba(55, 227, 189, 0.767);
width: 600px;
height: 70px;
/* position: absolute; */
/* top: 150px; */
/* display: flex; */
}

.location{
width: 100px;
height: 30px;
display: flex;
align-items: baseline;
justify-content: space-evenly;
margin-left: 20px;
margin-top: 0px;

    }

.profession{
width: 350px;
height: 50px;
margin-left: 15px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
margin-top: 40px;
}

.editprofile{
/* background-color: rgb(0, 255, 26); */
width: 100px;
margin-left: 15px;
display: flex;
justify-content: space-evenly;
}
