.row{

display: flex;
justify-content: space-between;
}

.col{
flex:6;
width: 150px;
background-color: rgb(10, 153, 77);
color: white;
font-weight: bold;
padding: 15px;
margin: 10px;
}

.col-2{
flex: 12;
width: 150px;
background-color: rgb(153, 10, 105);
color: white;
font-weight: bold;
padding: 15px;
margin: 10px;
}

.col-3{
flex: 18;
width: 150px;
background-color: gold;
color: white;
font-weight: bold;
border: 4px black;
padding: 15px;
margin: 10px;
}
    